body {
    background: lightgrey;
    font-family: sans-serif;
    padding: 20px;
}

#page-title {
    font-size: 40px;
    text-align: center;
    font-weight: 600;
}

.line-name {
    background: grey;
    color: white;
    padding: 5px;
}
